@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Anton", serif;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}